<h1>Geocache service</h1>
<div>Click left mouse button to add new marker to the map.</div>
<div>Click right mouse button to add new start point for searching. Then you can search for closest marker or find all markers in radius of 100 km. Wanted markers will turn up blue color.</div>
<div>Search point latitude:<span id="search_lat"></span>, longitude:<span id="search_lng"></span></div>
<button id="closest_marker">Get closest marker</button>
<button id="find_markers_in_radius">Find all markers in radius</button>
<div id="map" style="height:500px;width:700px;"></div>
